<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Employee Admin Login</h1>
                    <h5>Welcome! Login with your credentials.</h5>
                    <hr>
                </div>
                <form [formGroup]="changepasswordForm" (ngSubmit)="changepassword()">
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input  formControlName="email" placeholder ="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">New Password</label>
                        <input formControlName="password" placeholder ="password"  type="password" class="form-control" id="exampleInputPassword1">
                   
                        <br>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>