<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"

    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List OF User Details</title>
</head>
<body>
<div align="center">
<H1>--------------Registered Users--------------</H1>
<br/>
 <table border="1" cellpadding="10">
   <thead>
     <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>Email ID</th>
        <th>Phone</th>
        <th>Product Purchased</th>
        <th>Purchase Date</th>
        <th>Category</th>
      </tr>
      
     </thead>
     <tbody>
       <tr th:each="userdetails : ${listUsers}">
          <td th:text="${userdetails.user_id}">User Id</td>
          <td th:text="${userdetails.username}">User Name</td>
          <td th:text="${userdetails.email_id}">Email Id</td>
          <td th:text="${userdetails.phone}">Phone</td>
          <td th:text="${userdetails.product_purchased}">Product Purchased</td>
          <td th:text="${userdetails.purchase_date}">Purchase Date</td>
          <td th:text="${userdetails.category}">Category</td>
        </tr>
     </tbody>
     </table>
     <a href="/logout">Logout</a>
   </div>
</body>
</html>